.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 300px; 
}
.site-footer {
  background: #272727;
  
}

.site2-footer, .page-wrap:After{
	height: 60px;
}
.site2-footer {
  background: #222222;
  border-top:#222222;
  
}
